.box {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-left-container {
    display: flex;
}