<div class="chart-main-container" style="display: flex; justify-content: space-around; align-items: center;">
      <div class="chart-container">
            <canvas  id="MyChart" >{{ chart }}</canvas>
      </div>
      <div class="labels-container" style="background-color: aliceblue; border-radius: 20px; padding: 50px;">
            <strong><p style="color: #C33726;">Boba Bursting: {{this.itemdata[0]}}</p></strong>
            <strong><p style="color: #b85932;">Tropical Delight: {{this.itemdata[1]}}</p></strong>
            <strong><p style="color: #35DC8F;">Classic Milk Tea: {{this.itemdata[2]}}</p></strong>
            <strong><p style="color: #3CA9EE;">Fruit Milk Tea: {{this.itemdata[3]}}</p></strong>
      </div>
</div>