<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="home-container">
  <nav class="navbar">
    <div class="nav-left">
      <h3 style="font-size: 22px;">BOBA BLACK PEARL</h3>
    </div>
    <div class="nav-right">
      <ul class="nav-list">
        <li><a routerLink="#">HOME</a></li>
        <li><a routerLink="/mainmenu">Menu</a></li>
        <li><a href="">About us</a></li>
      </ul>
    </div>
  </nav>

  <app-hero></app-hero>


  <div class="home-content" align="center">

    <div class="boba-history-container">
      <p class="container-heading">What actually boba was?</p>

      <p class="container-content">Boba, also known as bubble tea, originated in Taiwan in the 1980s and quickly became
        a beloved drink around the world. Its origins are linked to a tea house in Taichung, Taiwan, where a creative
        tea shop owner, Lin Hsiu Hui, decided to add tapioca pearls to her iced tea as a playful experiment. This
        innovation, inspired by the desire to create something new and exciting, transformed the traditional
        tea-drinking experience into a fun and delicious adventure.
        <br><br>
        Word of this unique drink spread rapidly, captivating people with its delightful combination of flavors and
        textures. Boba's popularity surged, evolving into a global phenomenon that continues to grow to this day. Its
        success is not just in its taste but also in its ability to create an experience that keeps customers coming
        back for more.
        <br><br>
        Part of what makes boba so appealing is its versatility. Originally, it was made with black tea, tapioca pearls,
        condensed milk, and syrup, but today, there are countless variations to suit every taste. From fruit-flavored
        teas to creamy milk teas, boba can be customized to satisfy any craving. This adaptability has been key to
        boba's enduring popularity, as it continuously offers new and exciting options for customers to explore.
        <br><br>
        Beyond its delicious taste and customizable nature, boba has also become a cultural icon, representing a blend
        of tradition and innovation. Its journey from a humble tea shop in Taiwan to a global sensation reflects the
        interconnectedness of the modern world and the power of creativity to transcend boundaries.
        <br><br>
        Incorporating boba's rich history into your website can not only educate your customers but also pique their
        curiosity and make them feel more connected to the product. By highlighting the story of boba and its journey to
        worldwide fame, you can create a sense of excitement and adventure that encourages customers to explore the
        world of boba and discover their new favorite drink.
      </p>

      <div class="way-to-specials">
        <p style="font-size: 24px;">Boba Black Pearl Specials</p>

        <div class="down-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
            class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z" />
          </svg>
        </div>
      </div>
    </div>

    <div class="boba-specials-container">
      <div class="specials-container" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/6413440/pexels-photo-6413440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: row-reverse;">
        <div class="spl-left">
          <p class="container-heading">Boba Ice cream</p>
          <p class="container-content">Description</p>
        </div>
        <div class="spl-right">
          <img src="" alt="bursting" srcset="">
        </div>
      </div>

      <div class="specials-container" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/731160/pexels-photo-731160.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
        <div class="spl-left">
          <p class="container-heading">Boba Bursting tea</p>
          <p class="container-content">Description</p>
        </div>
        <div class="spl-right">
          <img src="" alt="bursting" srcset="">
        </div>
      </div>

      <div class="specials-container" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/6412829/pexels-photo-6412829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: row-reverse;">
        <div class="spl-left">
          <p class="container-heading">Boba Bursting tea</p>
          <p class="container-content">Description</p>
        </div>
        <div class="spl-right">
          <img src="" alt="bursting" srcset="">
        </div>
      </div>


      <div class="specials-container" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/6413725/pexels-photo-6413725.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
        <div class="spl-left">
          <p class="container-heading">Boba Bursting tea</p>
          <p class="container-content">Description</p>
        </div>
        <div class="spl-right">
          <img src="" alt="bursting" srcset="">
        </div>
      </div>
    </div>


    <footer class="text-center text-lg-start bg-body-tertiary text-muted">

      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" style="background-image: url('https://images.pexels.com/photos/6413445/pexels-photo-6413445.jpeg?auto=compress&cs=tinysrgb&w=600'); color: white; background-repeat: no-repeat; background-size: cover;">

        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>

        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>

      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>BOBA Black Pearl
              </h6>
              <p>
                Our bubble teas are not just drinks; they're experiences crafted to delight your senses and transport
                you to a realm of flavors like never before.
              </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Specials
              </h6>
              <p>
                <a href="#!" class="text-reset">Boba brusting</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Tropical delight</a>
              </p>
              <p>
                <a href="#!" class="text-reset">fruit tea</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Boba Ice cream</a>
              </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="#!" class="text-reset">Menu</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Location</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Contact us</a>
              </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> Brundavan gardens, Guntur</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                contact @ bobablackpearl.com
              </p>
              <p><i class="fas fa-phone me-3"></i> 8775452635</p>
              <p><i class="fas fa-print me-3"></i> 7326237632</p>
            </div>
          </div>
        </div>
      </section>

      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="">bobablackpearl.com</a>
      </div>
    </footer>
  </div>
</div>